<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원 관리</title>
</head>
<body>
	<h1>회원 관리</h1>
	
	<div>총 <b th:text="${members.getTotalElements()}"></b>명</div>
	
 	<table border="1">
		<tr>
			<td>
				<input type="checkbox" id="checkAll">
			</td>
			<td>no</td>
			<td>ID</td>
			<td>이름</td>
			<td>닉네임</td>
			<td>이메일</td>
			<td>등록일</td>
			<td>권한</td>
		</tr>
		
		<tr th:each="member, i : ${members}">
			<td th:id="${member.username}">
				<input type="checkbox" class="chkBox">
			</td>
			<td th:text="${i.count}"></td>
			<td th:text="${member.username}"></td>
			<td th:text="${member.name}"></td>
			<td th:text="${member.nickname}"></td>
			<td th:text="${member.email}"></td>
			<td th:text="${member.regDate}"></td>
			<td th:if="${#lists.size(member.roles) == 1}" th:text="${member.roles.get(0).getName()}"></td>
			<td th:if="${#lists.size(member.roles) != 1}" th:text="${member.roles.get(1).getName()}"></td>
		</tr>
	</table>
	
	<form method="post" style="margin-top: 30px" id="deleteform">
		<input type="hidden" name="_method" value="delete">
		<button id="deleteBtn">삭제</button>
	</form>
	
	<a href="/">home</a>
	
	
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="/js/admin/memberList.js"></script>	
	
</body>
</html>