<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>회원 관리</title>
</head>
<body>
	<h1>회원 관리</h1>
	
	<div>
	
		<div>총 <b th:text="${members.size()}"></b>명</div>
		
		<div></div>
		
		<div>
			<!-- <form action="#" class="selectForm">
				<select name="selectedOpt" class="selectedOpt">
					<option value="all">전체</option>
					<option value="admin" selected="selected">관리자</option>
					<option value="member">일반회원</option>
				</select>
			</form> -->
			
			<select name="selectedOpt" class="selectedOpt">
				<option value="">전체</option>
				<option value="onlyAdmin" selected="selected">관리자</option>
				<option value="onlyMember">일반회원</option>
			</select>
		</div>
		
		
	</div>

	
 	<table border="1">
		<tr>
			<td>
				<input type="checkbox" id="checkAll">
			</td>
			<td>no</td>
			<td>ID</td>
			<td>닉네임</td>
			<td>이메일</td>
			<td>등록일</td>
			<td>권한</td>
			<td>활성화여부</td>
			<td></td>
		</tr>
		
		<tr th:each="member, i : ${members}" class="adminList">
			<!-- 아이디가 admin이거나 관리자 권한을 가지고 있거나 계정이 비활성화인 경우 체크 비허용 -->
			<td th:if="${member.username == 'admin' || member.username == #authentication.name || member.enabled == false}" th:id="${member.username}">
				<input type="checkbox" disabled="disabled">
			</td>
			<td th:unless="${member.username == 'admin' || member.username == #authentication.name || member.enabled == false}" th:id="${member.username}">
				<input type="checkbox" class="chkBox">
			</td>
			
			<td th:text="${i.count}"></td>
			<td th:text="${member.username}"></td>
			<td th:text="${member.nickname}"></td>
			<td th:text="${member.email}"></td>
			<td th:text="${member.regDate}"></td>
			<td th:if="${#lists.size(member.roles) == 1}" th:text="${member.roles.get(0).getName()}" data-auth="admin"></td>
			<td th:unless="${#lists.size(member.roles) == 1}" th:text="${member.roles.get(1).getName()}" data-auth="member"></td>
			<td th:text="${member.enabled}"></td>
			<td th:if="${member.enabled == false}"><button class="recoverBtn" th:id="${member.username}">계정 복구</button></td>
		</tr>
		
	</table>
	
	<!-- <form method="post" style="margin-top: 30px" id="deleteform">
		<input type="hidden" name="_method" value="delete">
		<button id="deleteBtn">삭제</button>
	</form> -->
	
	<br>
	<button class="deleteBtn" value="delete">계정 삭제</button>
	<!-- <button class="recoverBtn" value="enabled">계정 복구</button> -->
	<button class="modifyAuthBtn" value="auth">권한 변경</button>
	
	<a href="/">home</a>
	
	
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="/js/admin/memberList.js"></script>	

<script>
$(document).ready(function(){
	
	
	// 조회 (전체/관리자/일반회원)
	$(".selectedOpt").on("change", function(){
		
		var selectedOpt = $(this).val();
		var url = "/admin/member"; 
		
		if(selectedOpt != ""){
			url = "/admin/member/" + selectedOpt;
		}
		
		location.href = url;
             
	});
	
	
	
	$("#checkAll").change(function(){
		var chk = $(this).prop("checked");
		
		if(chk){
			$(".chkBox").prop("checked", true);
		}else{
			$(".chkBox").prop("checked", false);
		}
	
	});
	
	// 계정 삭제 버튼 클릭 시
	$(".deleteBtn").click(function(e){
		e.preventDefault();
		var cnt = $(".chkBox:checked").length;
		var arr = new Array();
		
		$(".chkBox:checked").each(function(){
			arr.push($(this).closest("td").attr("id"));
		});
		
		if(cnt == 0){
			alert("삭제할 회원을 선택해 주세요.");
			return;
		}else{
			var data = {
				arr : arr
			}
			
			if(confirm(arr + "을 삭제하시겠습니까?")){
				deleteAjax(data);
			}else{
				return;
			}
			
			/* alert(arr + "을 삭제하시겠습니까?");

			deleteAjax(data); */
		}
	
	});
	
	/* // 계정 복구 버튼 클릭 시 (체크 박스 이용할 경우)
	$(".deleteBtn").click(function(e){
		e.preventDefault();
		var cnt = $(".chkBox:checked").length;
		var arr = new Array();
		
		$(".chkBox:checked").each(function(){
			arr.push($(this).closest("td").attr("id"));
		});
		
		if(cnt == 0){
			alert("복구할 계정을 선택해 주세요.");
			return;
		}else{
			var data = {
				arr : arr
			}
			
			alert(arr + "을 복구하시겠습니까?");

			deleteAjax(data);
		}
	
	}); */
	
	// 계정 복구 버튼 클릭 시
	$(".recoverBtn").click(function(e){
		e.preventDefault();
		var username = $(this).attr("id");
		var data = {
				username : username
		}
		
		if(confirm(username + "을 복구하시겠습니까?")){
			recoverAjax(data);
		}else{
			return;
		}
	
	});
	
	
	// 권한 변경 버튼 클릭 시
	$(".modifyAuthBtn").click(function(e){
		e.preventDefault();
		var cnt = $(".chkBox:checked").length;
		var arr = new Array();
		
		$(".chkBox:checked").each(function(){
			arr.push($(this).closest("td").attr("id"));
		});
		
		if(cnt == 0){
			alert("권한을 변경할 회원을 선택해 주세요.");
			return;
		}else{
			var data = {
				arr : arr
			}
			
			if(confirm(arr + "의 관리자 권한을 해제하시겠습니까?")){
				modifyAuthAjax(data);
			}else{
				return;
			}

		}
	
	});
	

    function deleteAjax(data) {
    	$.ajax({
			url: "/admin/member",
			type: "DELETE",
			data: data,
			success: function(result){
				
				if(result == "success"){
					alert("삭제 성공");
					location.href="/admin/member";
				}else{
					alert("삭제 실패");
				}
			},
			error: function(request) {
				alert("에러");
				alert("code:" + request.status);
			}
		});
    }
    
    
    function modifyAuthAjax(data) {
    	$.ajax({
			url: "/admin/member",
			type: "PATCH",
			data: data,
			success: function(result){
				
				if(result == "success"){
					alert("권한 변경 성공");
					location.href="/admin/member/onlyAdmin";
				}else{
					alert("권한 변경 실패");
				}
			},
			error: function(request) {
				alert("에러");
				alert("code:" + request.status);
			}
		});
    }
    
    function recoverAjax(data) {
    	$.ajax({
			url: "/admin/member",
			type: "PUT",
			data: data,
			success: function(result){
				
				if(result == "success"){
					alert("복구 성공");
					location.href="/admin/member";
				}else{
					alert("복구 실패");
				}
			},
			error: function(request) {
				alert("에러");
				alert("code:" + request.status);
			}
		});
    }


});

</script>
	
</body>
</html>