
<div th:fragment="board-comment">
	<h1>comment</h1>
	<div>
		<table class="cmtWriteTable">
			<tr>
				<td style="padding: 5px; padding-left: 10px;"><b sec:authentication="name" id="cmWriter"></b></td>
				<td></td>
				<td></td>
			</tr>
		
			<tr>
				<td colspan="2" style="padding: 10px; padding-top: 3px;"><textarea rows="3" cols="80" id="cmComment" placeholder="타인을 배려하는 마음을 담아 댓글을 달아주세요." required="required"></textarea></td>
				<td style="padding-right: 10px;"><button id="insertCmtBtn">등록</button> </td>
			</tr>
		</table>
	</div>
	
	<div>
		<table class="cmtListTable">
			
		</table>
	</div>	
</div>





