<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[[${content.bTitle}]]</title>

	<!-- css -->
    <link rel="stylesheet" href="/css/board/content.css">

</head>
<body>
	<h1>view content</h1>
		
	<a href="#">[[${content.category.cName}]]</a> > <a href="#">[[${content.bDivide}]]</a> <br>
	
	제목 : [[${content.bTitle}]] <br>
	작성자 : [[${content.bWriter}]] <br>
	작성일 : [[${content.bRegdate}]] <br>
	조회수 : [[${content.bViewcnt}]] <br>
	
	<div class="content_ared">
		<!-- 이미지 및 파일 바꿔주기위한 과정 -->
		<input type="hidden" name="content1" id="content1" th:value="${content.bContent}">
		<div id="content2"></div>
	</div>
	
	<a href="/board/modify/" th:attrappend="href=${content.bNo}" id="modify_btn">수정</a>
	<a href="#" id="delete_btn">삭제</a>
	<a href="/board">뒤로가기</a>
	
	<form method="post" id="frm">
		<input type="hidden" name="_method" id="method_input">
		<input type="hidden" id="bNo" th:value="${content.bNo}">
	</form>


<!-- 
	<div th:replace="board/comment :: board-comment"></div> -->

 	<h1>comment</h1>
	<div>
		<table class="cmtWriteTable" sec:authorize="isAuthenticated()">
			<tr>
				<td style="padding: 5px; padding-left: 10px;"><b sec:authentication="name" id="cmWriter"></b></td>
				<td></td>
				<td></td>
			</tr>
		
			<tr>
				<td colspan="2" style="padding: 10px; padding-top: 3px;"><textarea rows="3" cols="80" id="cmContent" placeholder="타인을 배려하는 마음을 담아 댓글을 달아주세요." required="required"></textarea></td>
				<td style="padding-right: 10px;"><button id="insertCmtBtn">등록</button> </td>
			</tr>
		</table>
	</div>
	
	<div>
		<table class="cmtListTable" border="1">
			<tr th:if="${comments.size() == 0}">
				<td>등록된 댓글이 없습니다.<td>
			</tr>
			
			<tr th:each="comment : ${comments}">
				
				<!-- sequence가 1일 경우 일반 댓글 -->
				<td th:if="${comment.cmSeq == 1}">
					<div><b>[[${comment.member.nickname}]]</b> <span style="font-size: small">[[${comment.cmRegdate}]]</span>
						<button class="replyBtn" th:id="${comment.cmGrp}" sec:authorize="isAuthenticated()">답글</button>
						<button class="deleteReplyBtn" th:id="${comment.cmNo}" th:data-grp="${comment.cmGrp}" th:data-seq="${comment.cmSeq}" th:if="${comment.member.username == #authentication.name}">삭제</button>
					</div>
					<div>[[${comment.cmContent}]]</div>
				</td>
				
				<!-- sequence가 1이 아닐 경우 대댓글 -->
				<td th:if="${comment.cmSeq != 1}" style="padding-left: 40px;">
					<div><b>[[${comment.member.nickname}]]</b> <span style="font-size: small">[[${comment.cmRegdate}]]</span>
						<button class="deleteReplyBtn" th:id="${comment.cmNo}" th:data-grp="${comment.cmGrp}" th:data-seq="${comment.cmSeq}" th:if="${comment.member.username == #authentication.name}">삭제</button>
					</div>
					<div>[[${comment.cmContent}]]</div>
				</td>
			</tr>
		</table>
	</div>	
 


	
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script src="/js/board/comment.js"></script>



</body>


<script>

    $(function(){
        var content1 = $("#content1").val();
        $("#content2").html(content1);
        
        var bNo = $("#bNo").val();

        $("#delete_btn").on("click", function(e){
        	e.preventDefault();
        	
        	if(confirm("삭제하시겠습니까?")) {
        		alert("게시물이 삭제되었습니다.");
        		$("#method_input").val("delete");
            	
            	var frm = $("#frm");
            	/* frm.action = "location.href='/board/'"+b_no; */
            	frm.action = "/board/"+bNo;
    			frm.submit();
        	}else{
        		return;
        	}
        });
    
        
        
    })

</script>
	
</html>