<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>수정하기</title>

	<!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/board/modify.css">

</head>
<body>
	<h1>수정하기</h1>
	
<!-- 	form 태그 사용할 경우
	<input type="hidden" name="_method" value="put" class="board_input"> -->
	<input type="text" name="bNo" class="board_input" th:value="${content.bNo}"><br>
	<input type="text" name="category.cNo" class="board_input" th:value="${content.category.cNo}"><br>
	<input type="text" name="member.username" class="board_input" th:value="${content.member.username}"><br>
 	<input type="text" name="bViewcnt" class="board_input" th:value="${content.bViewcnt}"><br>
	
	<select name="bDivide" class="board_input bDivide">
		<option value="">--------------</option>
		<option th:selected="${content.bDivide}=='자랑합니다'">자랑합니다</option>
		<option th:selected="${content.bDivide}=='궁금해요'">궁금해요</option>
	</select>
	<input type="text" name="bTitle" placeholder="제목" class="board_input bTitle" th:value="${content.bTitle}"><br>
	
	<div class="content_ared">
		<input type="hidden" name="content" id="content" th:value="${content.bContent}">
		<div id="summernote" name="bContent"></div>
	</div>
	
 	<input type="hidden" name="_method" class="board_input" value="put">
	 
	<button type="submit" id="saveBtn">작성하기</button>
	<button type="button" onclick="location.href='/board'">취소</button>
	
<script src="/js/board/modify.js"></script>
	
</body>
</html>