<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>

	<!-- include libraries(jQuery, bootstrap) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/css/board/modify.css">

</head>
<body>
	<h1>수정하기</h1>
	
<!-- 	form 태그 사용할 경우
	<input type="hidden" name="_method" value="put" class="board_input"> -->
	<input type="text" name="b_no" class="board_input" th:value="${content.b_no}"><br>
	<input type="text" name="category.c_no" class="board_input" th:value="${content.category.c_no}"><br>
	<input type="text" name="b_writer" class="board_input" th:value="${content.b_writer}"><br>
	
	<select name="b_divide" class="board_input">
		<option value="">--------------</option>
		<option th:selected="${content.b_divide}=='자랑합니다'">자랑합니다</option>
		<option th:selected="${content.b_divide}=='궁금해요'">궁금해요</option>
	</select>
	<input type="text" name="b_title" placeholder="제목" class="board_input" th:value="${content.b_title}"><br>
	<b>작성자 </b> [[${content.b_writer}]] <br>
	
	<div class="content_ared">
		<input type="hidden" name="content" id="content" th:value="${content.b_content}">
		<div id="summernote" name="b_content"></div>
	</div>
	
	<button type="submit" id="save_btn">작성하기</button>
	<button onclick="location.href='/board'">취소</button>
	
<script src="/js/board/modify.js"></script>
	
</body>
</html>