<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>로그인</title>

</head>
<body>
	<h1>로그인</h1>
	
	<div th:if="${param.error}" style="color: red" role="alert">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" style="color: blue" role="alert">
        You have been logged out.
    </div>
	
	<form th:action="@{/member/login}" method="post">
        <input type="text" name="username" placeholder="username" required autofocus><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="submit" value="login">
    </form>
    
    <br>
    <a href="/">home</a>

	
</body>
</html>