<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>

    <!-- css -->
    <!-- <link rel="stylesheet" href="/css/member/mypage.css"> -->

</head>
<body>
	<h1>마이 페이지</h1>
	
	<div>
		<div><b style="font-size: 20px;">[[${myInfo.nickname}]]</b><span>([[${myInfo.username}]])</span></div>
		<br>
		<div>
			<form action="/member/mypage/modify" method="get">
				<button>수정</button>
			</form>
		</div>
		<div>
			<form action="/member/mypage" method="post" onsubmit="return false;" class="unregForm">
				<input type="hidden" name="_method" value="delete">
				<button class="unregBtn">탈퇴</button>
			</form>
		</div>
	</div>
	
	
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	
</body>

<script>

$(function(){
	
	$(".unregBtn").on("click", function(){
		
		if (confirm("정말 탈퇴하시겠습니까?")) {
	        alert("탈퇴 처리가 완료되었습니다.");
	        $(".unregForm").attr("onsubmit", "return true;");
	        $(".unregForm").submit();
	    } else {
	        alert("취소되었습니다.");
	    }
		
	});
	
	
	
});


</script>

</html>