<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>

    <!-- css -->
    <!-- <link rel="stylesheet" href="/css/board/write.css"> -->

</head>
<body>
	<h1>회원가입</h1>
	
	 <form th:action="@{/member/register}" method="post">
        <input type="text" name="username" placeholder="username" required autofocus><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="text" name="name" placeholder="name" required><br>
        <input type="text" name="nickname" placeholder="nickname" required><br>
        <input type="text" name="email" placeholder="email" required><br><br>
        <input type="submit" value="Sign in">
    </form>
	
	
</body>
</html>