<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/member/register.css">

</head>
<body>
	<!-- <h1>회원가입</h1>
	
	 <form th:action="@{/member/register}" method="post">
        <input type="text" name="username" placeholder="username" autocomplete="off" required autofocus><br>
        <input type="password" name="password" placeholder="password" required><br>
        <input type="text" name="name" placeholder="name"autocomplete="off" required><br>
        <input type="text" name="nickname" placeholder="nickname"autocomplete="off"  required><br>
        
       	email
        <input type="text" name="email" class="emailInput" placeholder="email" autocomplete="off" required>
        <input type="text" class="emailCodeInput" size="7px" autocomplete="off" >
        <button type="button" class="sendCodeBtn">인증번호 전송</button>
        <span class="emailErr">이메일을 인증해주세요.</span>
        <span class="emailCorrect">인증번호가 일치합니다.</span>
        <span class="emailNotCorrect">인증번호가 일치하지 않습니다.</span>
        
        <br><br>
        
        <input type="submit" value="signup">
    </form>
    
    <br>
    <a href="/">home</a> -->
    
    
    <br><br><br>	
    
    <div class="content">
    <form class="regForm">
    
    	<!-- 아이디 -->
    	<div class="usernameDiv">
    		<label>아이디</label>
    		<div class="description">영문 또는 영문+숫자로 구성된 4자 이상의 아이디를 입력해주세요.</div>
    		<input name="username" placeholder="아이디" autocomplete="off" autofocus>
    	</div>
    	
    	<!-- 비밀번호 -->
    	<div class="passwordDiv">
    		<label>비밀번호</label>
    		<div class="description">영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
    		<input type="password" name="password" placeholder="비밀번호">
    	</div>
    	
    	<!-- 비밀번호 확인 -->
    	<div class="password2Div">
    		<label>비밀번호 확인</label>
    		<input type="password" name="password2" placeholder="비밀번호 확인">
    	</div>
    
    	<!-- 이름 -->
    	<div class="nameDiv">
    		<label>이름</label>
    		<input name="name" placeholder="이름" autocomplete="off">
    	</div>
    	
    	<!-- 닉네임 -->
    	<div class="nicknameDiv">
    		<label>닉네임</label>
    		<div class="description">다른 유저와 겹치지 않는 닉네임을 입력해주세요. (2~10자)</div>
    		<input name="nickname" placeholder="닉네임 (2~10자)" autocomplete="off">
    	</div>
    	
    	<!-- 이메일 -->
    	<div class="emailDiv">
    		<label>이메일</label>
    		<div class="emailInputAndBtn">
    			<div class="emailInputWrap">
    				<span class="emailValue"><input name="email" placeholder="이메일" autocomplete="off"></span>
    				<span class="emailSeparator">@</span>
    				<span class="emailValue">
    					<select>
    						<option disabled>선택해주세요</option>
    						<option value="naver.com">naver.com</option>
    						<option value="hanmail.net">hanmail.net</option>
    						<option value="daum.net">daum.net</option>
    						<option value="gmail.com">gmail.com</option>
    						<option value="nate.com">nate.com</option>
    						<option value="icloud.com">icloud.com</option>
    						<option value="manual">직접입력</option>
    					</select>
    				</span>
    			</div>
    		</div>
    		<button class="sendEmailBtn">이메일 인증하기</button>
    	</div>
    	
    	<button class="submitBtn">회원가입하기</button>
    
    </form>	
    
    <p class="loginBtnMessage">이미 아이디가 있으신가요?<a href="/member/login" class="loginLink">로그인</a></p>
	
	</div>
	
	
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	
</body>

<script>



</script>


<script>
$(document).ready(function(){
	
	var code = ""; // 이메일 전송 인증번호 저장을 위한 변수
	
	$(".emailErr").hide();
	$(".emailCorrect").hide();
	$(".emailNotCorrect").hide();
	$(".emailCodeInput").hide();
	
	
	var emailErr = "<span class='emailErr'>이메일을 인증해주세요.</span>"
	
	
	// 이메일 인증번호 전송
	$(".sendCodeBtn").click(function () {
		var email = $(".emailInput").val(); // 입력한 이메일
	    var emailCodeInput = $(".emailCodeInput"); // 인증번호 입력란
	    
	    // 인증번호 입력란 show
	    emailCodeInput.show();
		emailCodeInput.focus();
	    
	    $.ajax({
	    	url: "/member/register/sendCode",
	    	type: "POST",
	    	data: {email:email},
	    	success: function(result){
	    		
	    		if(result != null){
	    			// 이메일 전송 후 code에 발송한 인증번호 저장
	        		code = result;
	    		}
	    		
	    	}
	    });
	});

	
	
    // 인증번호 비교
    $(".emailCodeInput").on("propertychange change keyup paste input", function () {
        var inputCode = $(this).val(); // 입력된 인증번호
       
        if (inputCode == code) {
            $(".emailCorrect").show();
            $(".emailNotCorrect").hide();
           /*  $(".emailCodeInput").attr("readonly", "readonly"); */
            $(".emailInput").attr("readonly", "readonly");
        } else {
            $(".emailNotCorrect").show();
            $(".emailCorrect").hide();
        }
    });
	






});


</script>

</html>