.content{
	width: 360px;
	margin: 0 auto;
	color: #424242;
	font-size: 14px;
	margin-top: 50px;
}

.regForm div{
	margin-bottom: 10px;
}

.regForm > div{
	margin-bottom: 20px;
}

.regForm label{
	font-weight: bold;
	margin: 0px 0px 7px;
	display: block;
	/* color: rgb(255, 119, 119); */
    line-height: 21px;
    word-break: keep-all;
}

.regForm input{
	width: 100%;
	font-size: 14px;
    line-height: 21px;
    padding: 4px 10px 5px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.description{
	font-size: 11px;
	margin-bottom: 10px;
    color: #757575;
    line-height: 1.4;
}

.emailInputWrap{
	display: flex;
}

.emailValue1, .emailValue2{
	flex: 1 1 0px;
}

.emailSeparator{
	flex: 0 0 30px;
    text-align: center;
    vertical-align: center;
    line-height: 30px;
    color: #dbdbdb;
}

.domainResetBtn{
	position: absolute;
}

.sendCodeBtn{
    width: 100%;
    height: 45px;
    padding: 0px;
    background: rgb(247, 248, 250);
    color: rgb(194, 200, 204);
    border-color: rgb(218, 220, 224);
    margin-bottom: 10px;
    border-radius: 5px;
}

.sendCodeBtnEnabled{
	background-color: #fff; 
	border-color: #35c5f0;
	color: #35c5f0;
}

.sendCodeBtnEnabled:hover{
	cursor: pointer;
	background-color: #e7fafe;
}

.emailCodeInput{
	margin-bottom: 0;
}

.resendMsg{
	font-size: 11px;
}

.submitBtn{
	width: 100%;
	background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
    font-size: 17px;
    line-height: 26px;
	padding: 11px 10px;
	border-radius: 5px;
	font-weight: bold;
	margin-top: 30px;
}

.submitBtn:hover{
	background-color: #11b8e8;
    border-color: #11b8e8;
    cursor: pointer;
}

.loginBtnMessage{
	color: #424242;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.loginLink, .resendBtn{
	color: #2f2f2f;
	text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
}

.loginLink:hover, .resendBtn:hover{
	cursor: pointer;
	color: gray;
}

.errorMsg{
	font-size: 11px;
	color: red;
}

.correctMsg{
	font-size: 11px;
	color: blue;
}
